.addPin_Container{
    display: grid;
    place-items: center;
    height: 100vh;
    width:100%;
    background-color: var(--addpin-bg);
    /* background-color:#EFEFEF; */
}
.addPin_Container > .createPin_Container{
    height: 611px;
    width: 879px;
    background: var(--pin-bg-grad);
    flex-wrap: wrap;
    margin-top:-4%;
    border-radius: 17px;
    padding-left:2px;
}.createPin_Container > .select_Board{
    display: flex;
    justify-content: flex-end;
}
.divide{
    display: flex;
    justify-content: space-between;
    margin-top:5%;
}
.divide > .left_Half{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 4%;
}
.left_Half > .image_Upload{
    height: 453px;
    width: 342px;
    background-color:#f7f7f7;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_Upload > .dotted_border{
    height: 95%;
    width: 95%;
    border: 2px dashed #DADADA;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dotted_border > .icon{
    height: 30px;
    width: 30px;
    background-color: #757775;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
}
.left_Half > .url_Upload{
    text-align: center;
    padding:15px;
    margin-top:8px;
    font-weight: 750;
    border-radius: 40px;
    cursor: pointer;
}

.left_Half > .url_Upload:hover{
    background-color: rgba(0,0,0,0.1);
}
.divide > .right_Half{
    display: flex;
    flex-direction: column;
    margin-right:30px;
    width:50%;
    align-items: center;
    margin-top:5%;
}
.right_Half > .title > input{
    width: 435px;
    height: 60px;
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 750;
    border-top:none;
    border-left: none;
    border-right: none; 
    
    background-color:inherit;
    border-bottom: 1px solid #C6C6C6;
    outline: none;
}
.profile_container{
    display: flex;
    margin-top:9%;
    margin-right:auto;
    width:150px;
    height: 60px;
    flex-wrap: wrap;
}
.profile_container > p{
    margin-left: 10px;
    font-weight: 700;
}
.profile_container > .followers{
    margin-left:30%;
    margin-top: -18%;
    font-size: 15px;
}
.profile_container > .icon {
    height: 33px;
    width: 33px;
}
.select_Board{
    position: relative;
    top:30px;
    right:20px;
}
.select_Board > #dropDown{
    width:173px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    border:none;
    background-color: #EFEFEF;
    padding-left: 10px;
    outline: none;
    color: #76769D;
    font-size: medium;
    cursor: pointer;
}
.select_Board > button{
    width:63px;
    background-color: #E60023;
    border:none;
    color:white;
    font-weight: 600;
    font-size: medium;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.right_Half > .comment> input{
    width: 435px;
    height: 40px;
    font-size: 14px;
    font-weight: 200;
    background:inherit;
    color: #757775;
    border-top:none;
    border-left: none;
    border-right: none; 
    border-bottom: 1px solid #C6C6C6;
    outline: none;
}
.right_Half > .destination_Link{
    margin-top: auto;
    margin-bottom: 20px;
}
.destination_Link > input{
    width: 435px;
    height: 40px;
    font-size: 20px;
    font-weight: 200;
    color: #757775;
    border-top:none;
    border-left: none;
    border-right: none; 
    border-bottom: 1px solid #C6C6C6;
    outline: none;
}

@media screen and (max-width:900px) {
    .addPin_Container{
        height: auto;
        width:100%;
    }
    .addPin_Container > .createPin_Container{
        height: 100%;
        width: 80%;
        flex-direction: column;
        margin-top:10%;
        padding-left:2px;
    }
    .divide{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        width:100%;
    }
    .createPin_Container > .select_Board{
        justify-content: center;
        padding-bottom: 8%;
    }
    .select_Board > button{
        width:63px;
    }

    .divide > .left_Half{
        width: 90%;
        margin:0;
        justify-content:center;
        align-items:center;
    }
    .left_Half > .image_Upload {
        width:310px;
    }
    .divide > .right_Half{
        width:90%;
        margin-top:5%;
        display: flex;
        justify-self:center;
        align-self:center;
    }
    /* input{
        border:none !important;
    } */
    .right_Half > .title > input{
        width: 100%;
        height: 60px;
        padding-bottom: 0px;
        font-size: 25px;
        font-weight: 800;
    } 
    .right_Half > .comment{
    }
    .right_Half > .comment > input{
        height: 60px;
        margin:0;
        padding-bottom: 0px;
        font-size: 18px;
    }  /*
    .right_Half > .comment> input{
        width: 100%;
        height: 35px;
        font-size: 18px;
        font-weight: 500;
    }
    .right_Half > .destination_Link{
        margin-right: auto;
        margin-left:7%;
    }
    .destination_Link > input{
        width: auto;
        height: 35px;
        font-size: 18px;
        font-weight: 500;
    } */
    .profile_container{
        margin:0;
        order:-1;
    }
}