.alert {
    padding: 8px 15px ;
    color: white;
    margin-top:10px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .danger{
      background-color: #f44336;
  }
  .success{
    background-color: rgb(0, 128, 248);
  }